apiVersion: batch/v1
kind: CronJob
metadata:
  name: configmap-cd-trigger
spec:
  schedule: "12 * * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: trigger
            env:
              - name: GIT_REPOSITORY
                value: "github.com/tektoncd/plumbing"
              - name: GIT_REVISION
                value: "main"
              - name: CONFIG_PATH
                value: "prow/plugins.yaml"
              - name: NAMESPACE
                value: "default"
              - name: CLUSTER_RESOURCE
                value: "prow-cluster-config-bot"
              - name: CONFIGMAP_NAME
                value: "plugins"
              - name: CONFIGMAP_KEY
                value: "plugins.yaml"
              - name: CONFIGMAP_DESCRIPTION
                value: "prow-plugins"
