apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: folder-cd-trigger
spec:
  suspend: true
  schedule: "1 1 1 1 1"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: trigger
            env:
              - name: GIT_REPOSITORY
                value: "github.com/tektoncd/plumbing"
              - name: GIT_REVISION
                value: "main"
              - name: NAMESPACE
                value: ""
              - name: CLUSTER_RESOURCE
                value: "robocat-cadmin"
              - name: FOLDER_PATH
                value: "robocat/certificates"
              - name: FOLDER_DESCRIPTION
                value: "robocat-certificates"
