namePrefix: operator-
bases:
  - ../../base
patchesJson6902:
  - target:
      group: triggers.tekton.dev
      version: v1alpha1
      kind: TriggerTemplate
      name: template
    path: template.yaml
  - target:
      group: triggers.tekton.dev
      version: v1alpha1
      kind: Trigger
      name: nightly
    path: trigger.yaml
resources:
  - github.com/tektoncd/operator/tekton/overlays/nightly-releases?ref=main
