apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- control-plane
- test-pods

configMapGenerator:
  - name: config
    files:
    - config.yaml
    options:
      disableNameSuffixHash: true
      labels:
        app: prow
