name: build-images

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"
    
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull-request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

permissions:
  contents: read

env:
  REGISTRY: ghcr.io

jobs:
  list:
    runs-on: ubuntu-latest
    outputs:
      images: ${{ steps.output-images.outputs.images }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
      - name: list images
        id: output-images
        run: |
          echo images="$(python ./tekton/images/generate-matrix.py tekton/images | jq -c .)" >> $GITHUB_OUTPUT
          cat $GITHUB_OUTPUT

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    needs: list
    strategy:
      fail-fast: false # Keep running if one image fails
      matrix: ${{fromJSON(needs.list.outputs.images)}}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
        with:
          fetch-depth: 2
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@d03a93c0dbfac6d6dd6a0d8a5e7daff992b07449 # v45.0.7
        with:
          files: |
            tekton/images/${{ matrix.name }}/**
            tekton/images/generate-matrix.py
            .github/workflows/images.yaml
      - name: changed files
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          echo ${{ steps.changed-files.outputs.any_changed }}
          echo "List all the files that have changed: ${{ steps.changed-files-specific.outputs.all_changed_files }}"
      - name: Log in to the Container registry
        if: steps.changed-files.outputs.any_changed == 'true' # || github.event_name != 'pull_request'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # 343f7c4344506bcbf9b4de18042ae17996df046d
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        if: steps.changed-files.outputs.any_changed == 'true' # || github.event_name != 'pull_request'
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        if: steps.changed-files.outputs.any_changed == 'true' # || github.event_name != 'pull_request'
      - name: Extract metadata (tags, labels) for Docker
        if: steps.changed-files.outputs.any_changed == 'true' # || github.event_name != 'pull_request'
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.name }}
      - name: Build and push Docker image
        if: steps.changed-files.outputs.any_changed == 'true' # || github.event_name != 'pull_request'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v5
        with:
          platforms: ${{ matrix.platforms }}
          context: tekton/images/${{ matrix.name }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
